<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Mom!</h1>
    <p>Someone contacted you about Cards!</p>
    <br/>
    <p><%= @name %> filled out the form with the following message:</p>
    <p><%= @message %></p>
    <p>You can reach them at <%= @email %></p>
    <br/>
    <p>They were interested in: </p>
    <% @cards.each do |card| %>
      <p>ID: <%= card.id %></p>
      <p>Name: <%= card.name %></p>
      <p>Info: <%= card.info %></p>
      <br/>
    <% end %>
  </body>
</html>
